div.container{
	margin-top: 50px;
}

#img_ojala{
	height: 30px;
	width: 80px;
}

div.panel-footer{
	min-height: 50px;
}

div.curso{
	background-color: #fff;
}

div.curso img{
	height: 150px;
	width: 150px;
}

div#panel-carousel{
	max-width: 500px;
	margin: 0 auto;
}
